{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "field": $utils.toJson($context.info.fieldName),
    "arguments": $utils.toJson($context.arguments),
    "identity": $utils.toJson($context.identity),
    "request": $utils.toJson($context.request),
    "selectionSetList": $utils.toJson($context.info.selectionSetList),
  }
}
